<ol class="breadcrumb">
  <li><span class="text-muted">VOUS ETES DANS</span></li>
  <li class="active">Agences</li>
</ol>
<div class="row">
  <div class="col-md-12">
    <widget>
      <header>
        <button type="button" class="btn btn-sm btn-gray mt-n-xs pull-right" ui-sref="app.editPost({id: null})">Ajouter une agence</button>
        <h4 class="widget-title">Agences</h4>
      </header>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Nom</th>
          <th>Pays</th>
          <th>Ville</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="agence in vm.agences">
          <td>{{agence.nom}}</td>
          <td>{{agence.pays}}</td>
          <td>{{agence.ville}}</td>
          <td class="text-right">
            <button type="button" class="btn btn-default" ui-sref="app.editAgence({id: agence._id})">Edit</button>
            <button type="button" class="btn btn-danger" ng-click="vm.delete(agence)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </widget>
  </div>
</div>
